{% extends 'base.html.twig' %}

{% block title %}Création d'un utilisateur{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="text-center mb-4">Création d'un nouvel utilisateur</h2>
                    <div class="row my-5">
                        <div class="col">
                            <a href="javascript:history.go(-1)" class="btn btn-primary">Retour</a>
                        </div>
                    </div>
                    {{ form_start(form) }}
                    <div class="mb-3">
                        <label for="roles">Rôle</label>
                        <select class="form-select" name="roles" id="roles">
                            <option value="1">Employé</option>
                            <option value="2">Administrateur</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        {{ form_row(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Email'}}) }}
                    </div>
                    <div class="mb-3">
                        {{ form_row(form.password, {'attr': {'class': 'form-control', 'placeholder': 'Mot de passe'}}) }}
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
