<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="{{ asset('assets/img/Blason_Deyvillers_88.svg.png') }}">
    <link rel="stylesheet" href="{{ asset('assets/styles/bootstrap_superhero.min.css') }}">
</head>
<body>
    {% if app.user %}
        {% include "partials/_nav.html.twig" %}
    {% endif %}
    {% block body %}{% endblock %}
    <script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset('assets/js/scrollPosition.js') }}"></script>
</body>
</html>
